/** Colors definition */
:root {
    --text-color: #000000;
    --text-color-secondary: #FFFFFF;

    --reading-color-background:#FFFFFF;
    --background-color: #EDF2F4;

    --accent-color: #2B2D42;
    --accent-color-secondary: #8D99AE;

    --main-color: #ff9f1c;
    --main-color-secondary: #fe7f2d;
}

body {
    background-color: var(--background-color);
    font-family: Helvetica, sans-serif, Arial, Geneva, Verdana;
}
header {
    background-color: var(--reading-color-background);
    border-radius: 10px 10px 0px 0px;
    padding: 15px 20px 20px 20px;
}

#logo {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
}

#title {
    display: inline;
}

/** Navigation Bar */
nav{
    width: 70%;
    float: right;
}

nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
nav li {
    border: 2px solid var(--main-color-secondary);
    background-color: var(--main-color);
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 15px;
}
nav li a {
    color: var(--text-color-secondary);
    text-decoration: none;
}
nav li:hover {
    background-color: var(--main-color-secondary);
}


/** Headers and paragraphs */
h1 {font-size: 38px;}
h3 {font-size: 22px;}
p {font-size: 15px;}

/** Main */
main {
    padding: 50px;
}

#welcome {
    width: 40%;
    float: left;
}

#twitter {
    float: right;
}

/** Divs and containers */
main{
    background-color: var(--reading-color-background);
    margin-top: 30px;
    overflow: auto;
}

aside {
    background-color: var(--reading-color-background);
    border-radius: 10px;
}

footer {
    color: var(--text-color-secondary);
    background-color: var(--main-color-secondary);
}

/** Tables Elements */
table {
    font-family: Helvetica, sans-serif, Arial, Geneva, Verdana;
    border-collapse: collapse;
}
th {
    background-color: var(--accent-color-secondary);
}
th, td {
    border: 1px solid var(--accent-color);
}
tr:nth-child(even) {
    background-color: var(--background-color);
}
tr:hover {
    background-color: var(--main-color);
}